<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623485120660-rm4pqc8e0orkmnv8btcpkb86clo666ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623485120660-rm4pqc8e0orkmnv8btcpkb86clo666ab</string>
	<key>API_KEY</key>
	<string>AIzaSyD0gJMXaD7cJwxl2nYdbOEIZx1PAXVmuVY</string>
	<key>GCM_SENDER_ID</key>
	<string>623485120660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flashchat-dae5c</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-dae5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623485120660:ios:e86a6e0533288b8cb64481</string>
</dict>
</plist>